<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Test Web Site</title>
</head>

<body id="body" className="body">
    <h1>우리 금쪽이를 찾아줘</h1>
    <button onclick="movepage1()">금쪽이 등록</button>
    <button onclick="movepage2()">집나간 금쪽이들</button>
    <script type="text/javascript">
        function movepage1() {
            location.href = "./register_page"
        }
        function movepage2() {
            location.href = "./browse"
        }
    </script>
</body>

</html> -->


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>
        <%=title%>
    </h1>
    <h3>
        <%=message%>
    </h3>
    <button onclick="movepage1()">금쪽이 등록</button>
    <button onclick="movepage2()">집나간 금쪽이들</button>
    <script type="text/javascript">
        function movepage1() {
            location.href = "./register_page"
        }
        function movepage2() {
            location.href = "./browse"
        }
    </script>
</body>

</html>