<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <% for(var i=0; i < data.length; i++) {%>
        <p>
        <h1>
            <%= data[i].a %>
                <%= data[i].b %>
        </h1>
        </p>
        <% } %>
            <button onclick="movepage1()">메인화면으로</button>
            <button onclick="movepage2()">qr발급</button>
            <script type="text/javascript">
                function movepage1() {
                    location.href = "/"
                }
                function movepage2() {
                    alert("qr코드 발급이 완료되었습니다!");
                    location.href = './genqr' + '<%=message%>'.replace(/&amp;/gi, '&') // (수정 ver1.1)
                }
            </script>

</body>

</html>