<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Test Web Site</title>
</head>

<body id="body" className="body">
    <h1>금쪽이 등록페이지</h1>
    <form method="get">
        <h2>보호자</h2>
        이름 : <input type="text" name="owner_name">
        <br><br>
        지역 : <input type="text" name="owner_location">
        <br><br>
        연락처 : <input type="tel" name="owner_phone">
        <br><br>
        비밀번호 : <input type="password" name="pw">
        <br><br>
        <h2>금쪽이</h2>
        이름 : <input type="text" name="pet_name">
        <br><br>
        나이 : <input type="text" name="pet_age">
        <br><br>
        종류 : <input type="text" name="pet_breed">
        <br><br>
        특징 : <input type="text" name="pet_feature">
        <br><br>
        <input type="submit" value="등록" formaction="./register/">
    </form>
    </script>
</body>

</html>