<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>
        잔액 확인
    </h1>
    <h2>
        &lt; 잔액 확인 : <%=data%> (단위 : ETH) &gt;
    </h2>
    <button onclick="movepage1()">메인화면으로</button>
    <script type="text/javascript">
        function movepage1() {
            location.href = "/"
        }
    </script>
</body>

</html>