<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>
        <%=title%>
    </h1>
    <h4>
        <%=message%>
    </h4>
    <h4>
        20163080 강석현
        <br><br>
        20163092 김상윤
        <br><br>
        20163121 안성열
    </h4>
    <h4>
        <A href="https://youtu.be/tDceVXWnjJo" target='blank'> 소개영상 </A>
    </h4>
    <button onclick="movepage1()">금쪽이 등록</button>
    <button onclick="movepage2()">집나간 금쪽이들</button>
    <button onclick="movepage3()">잔액 확인</button> <!-- balance페이지로 가는 버튼 추가 (수정 ver1.2) -->
    <script type="text/javascript">
        function movepage1() {
            location.href = "./register_page"
        }
        function movepage2() {
            location.href = "./browse"
        }
        function movepage3() { // balance페이지로 이동하기 위한 함수 추가 (수정 ver1.2)
            location.href = "./balance"
        }
    </script>
</body>

</html>